.controller.custom {
    background: url(Base.png); 
    height: 612px;
    width: 1000px;
}
.controller.disconnected {
  opacity: 0 !important;
}

.custom .triggers {
    height: 87px;
    width: 820px;
    left: 87px;
    top: 10px;
    position: absolute;
}
.custom .trigger.left{
    background: url(trigger_left.png);
    height: 87px;
    width: 149px;
    float: left;
    position: relative;
    opacity: 0;
}
.custom .trigger.left.pressed{
    opacity:1;
}

.custom .trigger.right{
    background: url(trigger_right.png);
    height: 84px;
    width: 143px;
    float: right;
    position: relative;
    opacity: 0;
}
.custom .trigger.right.pressed{
    opacity:1;
}
.custom .bumpers {
    height: 119px;
    width: 912px;
    left: 44px;
    top: 60px;
    position: absolute;
}
.custom .bumper.left{
    background: url(bumper_left.png);
    height: 119px;
    width: 242px;
    float: left;
    position: relative;
    opacity: 0;
}
.custom .bumper.left.pressed{
    opacity:1;
}

.custom .bumper.right{
    background: url(bumper_right.png);
    height: 119px;
    width: 241px;
    float: right;
    position: relative;
    opacity: 0;
}
.custom .bumper.right.pressed{
    opacity:1;
}
.custom .arrows {
    height: 56px;
    width: 211px;
    top: 207px;
    left: 395px;
    position: absolute;
}
.custom .back {
    background: url(menu_back.png);
    height: 56px;
    width: 49px;
    float: left;
    position: relative;
    opacity: 0;
}
.custom .back.pressed{
    opacity:1;
}

.custom .start {
    background: url(menu_start.png);
    height: 56px;
    width: 49px;
    float: right;
    position: relative;
    opacity: 0;
}
.custom .start.pressed{
    opacity:1;
}
.custom .abxy {
    height: 234px;
    width: 240px;
    top: 197px;
    left: 705px;
    position: absolute;
}
.custom .button.a {
    background: url(button_a.png);
    height: 87px;
    width: 93px;
    float: left;
    top: 147px;
    left: 62px;
    position: absolute;
    opacity: 0;
}
.custom .button.a.pressed{
    opacity:1;
}
.custom .button.b {
    background: url(button_b.png);
    height: 91px;
    width: 93px;
    left: 147px;
    top: 76px;
    float: left;
    position: absolute;
    opacity: 0;
}
.custom .button.b.pressed{
    opacity:1;
}
.custom .button.x {
    background: url(button_x.png);
    height: 92px;
    width: 93px;
    top: 72px;
    float: left;
    position: absolute;
    opacity: 0;
}
.custom .button.x.pressed{
    opacity:1;
}
.custom .button.y {
    background: url(button_y.png);
    height: 93px;
    width: 96px;    
    left: 84px;
    float: left;
    position: absolute;
    opacity: 0;
}
.custom .button.y.pressed{
    opacity:1;
}

.custom .dpad {
    height: 167px;
    width: 182px;
    top: 370px;
    left: 262px;
    position: absolute;
}
.custom .face.up {
    background: url(dpad_up.png);
    height:76px;
    width: 73px;
    left: 49px;
    float: left;
    position: absolute;
    opacity: 0;
}
.custom .face.up.pressed{
    opacity: 1;
}

.custom .face.down {
    background: url(dpad_down.png);
    height: 68px;
    width: 69px;
    left:  62px;
    top: 99px;
    float: left;
    position: absolute;
    opacity: 0;
}
.custom .face.down.pressed{
    opacity:1;
}

.custom .face.left {
    background: url(dpad_left.png);
    height: 64px;
    width: 79px;
    top: 56px;
    float: left;
    position: absolute;
    opacity: 0;
}
.custom .face.left.pressed{
    opacity:1;
}

.custom .face.right {
    background: url(dpad_right.png);
    height: 64px;
    width: 78px;
    left: 104px;
    top:  54px;
    float: left;
    position: absolute;
    opacity: 0;
}
.custom .face.right.pressed{
    opacity:1;
}
.custom .sticks {
    height: 300px;
    width: 588px;
    top: 223px;
    left: 112px;
    position: absolute;
}
.custom .stick.left {
    background: url(stick_left.png);
    width: 159px;
    height: 143px;
    float: left;
    position: absolute;
}
.custom .stick.left.pressed {
    background: url(stick_left_click.png);
    width: 159px;
    height: 143px;
    float: left;
    position: relative;
}
.custom .stick.right {
    background: url(stick_right.png);
    top: 160px;
    width: 164px;
    height: 140px;
    left: 424px;
    position: absolute;
}
.custom .stick.right.pressed {
    background: url(stick_right_click.png);
    top: 160px;
    width: 164px;
    height: 140px;
    left: 424px;
    position: absolute;
}
